<div class="border-bottom mb-4" style="padding-bottom: 4px;">
    <div class="row">        
        <div class="col-11">
            <h4>{{job['title']}}</h4>
            <div>
                <b>Location: </b>{{job['location']}}
            </div>
            {% if 'salary' in job %}
            <div>
                <b>Salary: </b>{{job['salary']}}
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-outline-primary">Apply</button>
        </div>
    </div>
    {% endif %}
</div>